html {
  background-color: rgb(225, 225, 225);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-outer);
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: var(--padding-outer);
}

.column {
  width: 300px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-header-counter {
  background-color: rgb(190, 190, 190);
  text-align: center;
  font-size: 20px;
  width: 25px;
  padding: 4px;
  border-radius: 40%;
  margin-left: 5px;
}

.card {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
}

.card.is-writing article {
  display: none;
}

.card:not(.is-writing) form {
  display: none;
}

.card.danger {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content {
  margin: 5px 0;
}

.card-author {
  color: rgb(180, 180, 180);
  font-size: 12px;
}

.column-header-add svg path,
.column-header-delete svg path,
.card-header-delete svg path {
  fill: rgb(150, 150, 150);
}

.column-header-delete:hover svg path,
.card-header-delete:hover svg path {
  fill: red;
}
