html {
  background-color: rgb(225, 225, 225);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-outer);
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: var(--padding-outer);
}

.column {
  width: 300px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-header-counter {
  background-color: rgb(190, 190, 190);
  text-align: center;
  font-size: 20px;
  width: 25px;
  padding: 4px;
  border-radius: 40%;
  margin-left: 5px;
}

.card {
  padding: 12px 20px;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 4px 0;
}

.card-form input {
  border: 0;
}

.card-form input[name='title'] {
  font-size: 16px;
  font-weight: 600;
}

.card-form-buttons {
  display: flex;
  gap: 6px;
}

.card-form-cancelbtn {
  color: gray;
  background: rgb(224, 224, 224);
}

.card-form-cancelbtn:hover {
  color: black;
  background: rgb(200, 200, 200);
}

.card-form-submitbtn {
  color: white;
  background: rgb(48, 118, 215);
}

.card-form-submitbtn:disabled {
  background: rgb(147, 197, 249);
}

.card-form-buttons button {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
}

.card.danger {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content {
  margin: 5px 0;
}

.card-author {
  color: rgb(180, 180, 180);
  font-size: 12px;
}

.column-header-add svg path,
.column-header-delete svg path,
.card-header-delete svg path {
  fill: rgb(150, 150, 150);
}
.column-header-add:hover svg path {
  fill: blue;
}

.column-header-delete:hover svg path,
.card-header-delete:hover svg path {
  fill: red;
}
